@tailwind base;
@tailwind components;
@tailwind utilities;

.card > div {
  /* background-color: gold; */
  border: 4px solid #ffe298;
  /* scale: 1.1; */
}

.card > div:first-child {
  /* background-color: silver; */
  border: 3px solid #c5dcff;
  /* scale: 1; */
}

.card > div:last-child {
  /* background-color: saddlebrown; */
  border: 2px solid #dba336;
  /* scale: 1; */
}

.wrap {
  flex-wrap: wrap;
}

.gold-border {
  border: 4px solid #ffe298;
}

.silver-border {
  border: 3px solid #c5dcff;
}

.bronze-border {
  border: 2px solid #dba336;
}
